html,
body {
    background-color:#f6f1ea;
}

.box1 {
    width: 100%;
    background-color: #f6f1ea;
    text-align: center;

}



.box1 img {

    float:unset;
    width: 50%;
    height: 50%;
    border: 1px solid black;
    
    
}



.box1>h1 {
    text-align: center;
}

.menu {
    width: 100%;
    background-color: #f6f1ea;
    margin: 0px auto;
    text-align: center;
    
    padding-right: 40px;
    padding-top: 25px;
    padding-bottom: 90px;
    
}

.menu>a {
    padding: 8px;
    font-size: 20px;
    margin: 0 10px;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    text-decoration: none;
}

.menu2 {
    width: 100%;
    height: 100%;
    margin: 0px auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 90px;
    text-align: left;
    background-color: burlywood;
}

.menu2>a {
    padding: 8px;
    font-size: 20px;
    margin: 0 10px;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    text-decoration: none;
}

.menu3 {
    width: 100%;
    margin: 0px auto;
    margin-left: 10px;
    padding-right: 40px;
    background-color: #f6f1ea;
    padding-bottom: 90px;
    text-align: left;
    margin-top: 15px;

}

.menu3>a {
    padding: 8px;
    margin-left: 20px;
    margin: 0 10px;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    text-decoration: none;
}

.div2 {
    width: 100%;
    max-width: 100%;
    height: 100%;
    text-align: center;
    
    color: white;
    background-color: black;


}

.div2 p {
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: bold;
    margin-top: 15px;
    color: yellow;


}

.div2 h1 {
    color: white;
}

.div1 {
    width: 100%;
    max-width: 100%;
    height: 30%;
    text-align: center;
    color: black;
    background-color: #f6f1ea;
}


.div1 p {
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: bold;
    margin-top: 15px;
    color: black;

}

.div1>p,
a {
    font-size: 25px;
    margin-left: 20px;
    color: black;
}

.div1 h1 {
    margin-left: 20px;
}

.divpar {
    width: 100%;
    max-width: 100%;
    height: 35%;
    text-align: center;
    color: black;
    background-color: brown;
}
.divpar p {
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: bold;
    margin-top: 15px;
    color: black;

}

.divpar>p,
a {
    font-size: 25px;
    margin-left: 20px;
    color: black;
}

.divpar h1 {
    margin-left: 20px;
}

.div3 {
    width: 100%;
    max-width: 100%;
    height: 100%;
    text-align: left;
    margin-left: 20px;
    color: white;
    background-color: black;


}

.div3 p {
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: bold;
    margin-top: 15px;
    color: yellow;


}

.div3 h1 {
    color: white;
}

.imagem {
    width: 100%;
    max-width: 100%;
    height: 100%;
    text-align: center;
    color: black;
    background-color: #f6f1ea;
}

.imagem img {

    float:unset;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}